<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>修改评分页</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
	<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/validate.js"></script>
</head>
<body>
	<!-- header start -->
	<!--{include file='header.html'}-->
	<!-- header end -->
	<!-- content start -->
	<div class="clearfix wrapper">
        <!--{include file='left.html'}-->
		<div class="con-right">
			<h1 class="right-tit">修改评分</h1>
			<form name="myform" id="myform" enctype="multipart/form-data">
				<div class="input-box score">
					<span class="input-top"></span>
					<input type="hidden" name="" value="<!--{$score_standard_info.id}-->" class="score-id" >
					<p>
						<label>评分名称:</label><input type="text" name=""  value="<!--{$score_standard_info.name}-->" placeholder="请输入名称" class="score-name">
						<span class="span-error tip-name"></span>
					</p>
					<!--{foreach from=$score_standard_info.type item=item key=key }-->
					<div class="score-copy">
						<p>
							<label>评&nbsp;&nbsp;分&nbsp;&nbsp;项:</label>
							<input type="text" name="standard[<!--{$key}-->]" placeholder="请输入评分项" value="<!--{$item.standard}-->" class="score-standard">
							<span class="span-error tip-standard"></span>
						</p>
						<p>
							<label>评分依据:</label>
							<textarea maxlength="100" name="reason[<!--{$key}-->]" minlength="1" placeholder="请输入评分依据，专家以此作为评分参考" class="score-reason"><!--{$item.reason}--></textarea>
							<span class="span-error tip-reason"></span>
						</p>
						<p>
							<label>最高分值:</label>
							<input type="text" name="highest[<!--{$key}-->]" placeholder="请输入最高分值" value="<!--{$item.maxscore}-->" class="score-highest" maxlength="3">
							<span class="span-error tip-highest"></span>
						</p>
						<p class="add-remove">
							<input type="button" value="添加一组评分项" name="" class="add-score">
							<input type="button" value="移除一组评分项" name="" class="remove-score">
						</p>
					</div>
					<!--{/foreach}-->
				</div>
				<div class="score-btn">					
					<p>
						<input type="button" value="保    存" name="" class="btn-save score-save">
						<input type="button" value="取    消" name="" class="btn-cancel">
					</p>
				</div>
			</form>
		</div>
	</div>
	<!-- content end -->
	<script type="text/javascript">
		$(function(){
			$(".score-name").on("blur",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreName(value);
				if(validate.errorNo>0){
					$(".tip-name").text(validate.message);					
				}else{
					$(".tip-name").text('');
				}
			});
			$(".score").on("blur",".score-standard",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreStandard(value);
				if(validate.errorNo>0){
					$(this).siblings(".tip-standard").text(validate.message);
				}else{
					$(this).siblings(".tip-standard").text('');
				}
			});
			$(".score").on("blur",".score-reason",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreReason(value);
				if(validate.errorNo>0){
					$(this).siblings(".tip-reason").text(validate.message);
				}else{
					$(this).siblings(".tip-reason").text('');
				}
			});
			$(".score").on("blur",".score-highest",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreHighest(value);
				if(validate.errorNo>0){
					$(this).siblings(".tip-highest").text(validate.message);
				}else{
					if(parseInt(value)>100){
						$(this).siblings(".tip-highest").text('最高分不能超过100');
					}else if(parseInt(value)<=0){
						$(this).siblings(".tip-highest").text('最高分必须大于0');
					}else {
						$(this).siblings(".tip-highest").text('');
					}
				}
			});
			$(".score").on("click",".add-score",function(){
				var $newDom=$(".score-copy").eq(0).clone();
				var length=$(".score-copy").length;
				var standard='standard['+(length+1)+']';
				var reason='reason['+(length+1)+']';
				var highest='highest['+(length+1)+']';
				$newDom.find(".score-standard,.score-reason,.score-highest").val('');
				$newDom.find(".score-standard").attr("name",standard);
				$newDom.find(".score-reason").attr("name",reason);
				$newDom.find(".score-highest").attr("name",highest);
				$newDom.find(".span-error").text('');
				$(".score").append($newDom);
			});
			$(".score").on("click",".remove-score",function(){
				if($(".score-copy").length>1){
					$(this).parents(".score-copy").remove();
				}
			});
			
			$(".score-save").on("click",function(){
				var flag1 = false;
				var flag2 = false;
				var flag3 = false;
				var flag4 = false;
				var s_id=$(".score-id").val();
				var s_name=$(".score-name").val();
				var score_standard = [];
				var score_score = [];
				var score_highest = [];

				var validate1=window.validateSetting.regScoreName(s_name);
				if(validate1.errorNo>0){
					$(".tip-name").text(validate1.message);					
				}else{
					flag1 = true;
					$(".tip-name").text('');
				};

				$(".score-standard").each(function(){
					var s_stand=$(this).val();
					var validate2=window.validateSetting.regScoreStandard(s_stand);
					if(validate2.errorNo>0){
						flag2 = false;
						$(this).siblings(".tip-standard").text(validate2.message);
						return false;
					}else{
						flag2 = true;
						$(this).siblings(".tip-standard").text('');
						score_standard.push(s_stand)
					}
				});

				$(".score-reason").each(function(){
					var s_reason=$(this).val();
					var validate3=window.validateSetting.regScoreReason(s_reason);
					if(validate3.errorNo>0){
						flag3 = false;
						$(this).siblings(".tip-reason").text(validate3.message);
						return false;
					}else{
						flag3 = true;
						$(this).siblings(".tip-reason").text('');
						score_score.push(s_reason)
					}
				});
				$(".score-highest").each(function(){
					var s_highest=$(this).val();
					var validate4=window.validateSetting.regScoreHighest(s_highest);
					if(validate4.errorNo>0){
						flag4 = false;
						$(this).siblings(".tip-highest").text(validate4.message);
						return false;
					}else{
						if(parseInt(s_highest)>100){
							$(this).siblings(".tip-highest").text('最高分不能超过100');
							flag4 = false;
							return false;
						}else if(parseInt(s_highest)<=0){
							$(this).siblings(".tip-highest").text('最高分必须大于0');
							flag4 = false;
							return false;
						}else {
							flag4 = true;
							$(this).siblings(".tip-highest").text('');
							score_highest.push(s_highest);
						}
					}
				})

				if(flag1 && flag2 && flag3 && flag4){
					var url = '/ScoreStandard/editScoreStandard';
					$.post(url,{'id':s_id,'name':s_name,'standard':score_standard,'reason':score_score,'max_score':score_highest},function(data){
						if(data.code == 0){
							alert("保存成功");
                            window.location.href="/ScoreStandard/getList"
                        }else{
							alert(data.msg);
						}
					})
				}
				return false;
			});
			$(".btn-cancel").on("click",function(){
				window.location.href="/ScoreStandard/getList"
			})

		})
	</script>
</body>
</html>