<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>专家评审系统</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
	<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/validate.js"></script>
</head>
<body>
	<!-- header start -->
	<div class="header-bg">
		<h1>专家评审系统</h1>
	</div>
	<!-- header end -->
	<!-- content start -->
	<div class="clearfix">
		<div class="con-left fl">
			<ul class="nav">
				<li class="cur"><a href="">专家首页<i class="arrow"></i></a></li>
				<li><a href="">管理员首页<i class="arrow"></i></a></li>
				<li><a href="">专家组<i class="arrow"></i></a></li>
				<li><a href="">专家库<i class="arrow"></i></a></li>
			</ul>
		</div>
		<div class="con-right">
			<form name="myform" id="myform" enctype="multipart/form-data">
				<div class="score input-box">
					<p>
						<label>评分名称</label><input type="text" name="" value="$score_standard_info.name" placeholder="请输入名称" class="score-name">
						<span class="span-error tip-name"></span>
					</p>
					<!--{foreach from=$score_standard_info.type item=item key=key }-->
					<div class="score-copy">
						<p>
							<label>评分项</label>
							<input type="text" name="standard[1]" placeholder="请输入评分项" class="score-standard">
							<span class="span-error tip-standard"></span>
						</p>
						<p>
							<label>评分依据</label>
							<textarea maxlength="2000" name="reason[1]" minlength="1" placeholder="请输入评分依据，专家以此作为评分参考" class="score-reason"></textarea>
							<span class="span-error tip-reason"></span>
						</p>
					</div>
					<!--{/foreach}-->

				</div>
				<div class="score-btn">
					<p>
						<input type="button" value="添加" name="" class="add-score">
						<input type="button" value="移除" name="" class="remove-score">
					</p>
					<p>
						<input type="button" value="保存" name="" class="score-save">
						<input type="button" value="取消" name="">
					</p>
				</div>
			</form>
		</div>
	</div>
	<!-- content end -->
	<script type="text/javascript">
		$(function(){
			$(".score-name").on("blur",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreName(value);
				if(validate.errorNo>0){
					$(".tip-name").text(validate.message);					
				}else{
					$(".tip-name").text('');
				}
			});
			$(".score").on("blur",".score-standard",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreStandard(value);
				if(validate.errorNo>0){
					$(this).siblings(".tip-standard").text(validate.message);
				}else{
					$(this).siblings(".tip-standard").text('');
				}
			});
			$(".score").on("blur",".score-reason",function(){
				var value=$(this).val();
				var validate=window.validateSetting.regScoreReason(value);
				if(validate.errorNo>0){
					$(this).siblings(".tip-reason").text(validate.message);
				}else{
					$(this).siblings(".tip-reason").text('');
				}
			});
			$(".add-score").on("click",function(){
				var $newDom=$(".score-copy").eq(0).clone();
				var length=$(".score-copy").length;
				var standard='standard['+(length+1)+']';
				var reason='reason['+(length+1)+']';				
				console.log($newDom);
				$newDom.find(".score-standard,.score-reason").val('');
				$newDom.find(".score-standard").attr("name",standard);
				$newDom.find(".score-reason").attr("name",reason);
				$newDom.find(".span-error").text('');
				$(".score").append($newDom);
			});
			$(".remove-score").on("click",function(){
				if($(".score-copy").length>1){
					$(".score-copy:last").remove();
				}				
			});
			
			$(".score-save").on("click",function(){
				var flag1 = false;
				var flag2 = false;
				var flag3 = false;
				var s_name=$(".score-name").val();
				var score_standard = [];
				var score_score = [];

				var validate1=window.validateSetting.regScoreName(s_name);
				if(validate1.errorNo>0){
					$(".tip-name").text(validate1.message);					
				}else{
					flag1 = true;
					$(".tip-name").text('');
				};

				$(".score-standard").each(function(){
					var s_stand=$(this).val();
					var validate2=window.validateSetting.regScoreStandard(s_stand);
					if(validate2.errorNo>0){
						flag2 = false;
						$(this).siblings(".tip-standard").text(validate2.message);
					}else{
						flag2 = true;
						$(this).siblings(".tip-standard").text('');
						score_standard.push(s_stand)
					}
				});

				$(".score-reason").each(function(){
					var s_reason=$(this).val();
					var validate3=window.validateSetting.regScoreReason(s_reason);
					if(validate3.errorNo>0){
						flag3 = false;
						$(this).siblings(".tip-reason").text(validate3.message);
					}else{
						flag3 = true;
						$(this).siblings(".tip-reason").text('');
						score_score.push(s_reason)
					}
				})

				if(flag1 && flag2 && flag3){
					var url = '/ScoreStandard/addScoreStandard';
					$.post(url,{'name':s_name,'standard':score_standard,'reason':score_score},function(data){
						if(data.code == 0){
							alert("添加成功")
						}else{
							alert("添加失败:" + data.msg + "错误码:" + data.code)
						}
					})
				}
				return false;
			})

		})
	</script>
</body>
</html>