<div class="con-left fl">
    <ul class="nav">
        <!--{if !$is_admin}-->
        <li>
            <a href="/index/getlist"><i class="nav-icon home-icon"></i>专家首页<i class="arrow">▼</i></a>
        </li>
        <li>
            <a href=""><i class="nav-icon result-icon"></i>审核结果页<i class="arrow">▼</i></a>
        </li>
        <!--{else}-->
        <li>
            <a href="/index/getlist"><i class="nav-icon admin-icon"></i>管理员首页<i class="arrow">▼</i></a>
        </li>
        <li>
            <a href="/scorestandard/getlist"><i class="nav-icon score-icon"></i>设置评分<i class="arrow">▼</i></a>
        </li>
        <li class="cur">
            <a href="/expertgroup/getlist"><i class="nav-icon expert-g-icon"></i>专家组<i class="arrow">▼</i></a>
        </li>
        <li>
            <a href="/expert/getlist"><i class="nav-icon expert-icon"></i>专家库<i class="arrow">▼</i></a>
        </li>
        <!--{/if}-->
    </ul>
</div>