<div class="con-left fl">
    <ul class="nav">
        <!--{if !$is_admin}-->
        <li <!--{if $p eq 'index'}-->class="cur"<!--{/if}-->>
            <a href="/Index/getList"><i class="nav-icon home-icon"></i>专家首页<i class="arrow">▼</i></a>
        </li>
        <li <!--{if $p eq 'result'}-->class="cur"<!--{/if}-->>
            <a href="/DeclareInfo/result"><i class="nav-icon result-icon"></i>审核结果页<i class="arrow">▼</i></a>
        </li>
        <!--{else}-->
        <li <!--{if $p eq 'index'}-->class="cur"<!--{/if}-->>
            <a href="/Index/getList"><i class="nav-icon admin-icon"></i>管理员首页<i class="arrow">▼</i></a>
        </li>
        <li <!--{if $p eq 'score'}-->class="cur"<!--{/if}-->>
            <a href="/ScoreStandard/getList"><i class="nav-icon score-icon"></i>设置评分<i class="arrow">▼</i></a>
        </li>
        <li <!--{if $p eq 'group'}-->class="cur"<!--{/if}--> >
            <a href="/expertGroup/getList"><i class="nav-icon expert-g-icon"></i>专家组<i class="arrow">▼</i></a>
        </li>
        <li <!--{if $p eq 'expert'}-->class="cur"<!--{/if}-->>
            <a href="/expert/getList"><i class="nav-icon expert-icon"></i>专家库<i class="arrow">▼</i></a>
        </li>
        <!--{/if}-->
    </ul>
</div>