<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>专家评审系统--修改专家组</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
	<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/validate.js"></script>
</head>
<body>
	<!-- header start -->
	<!--{include file='header.html'}-->
	<!-- header end -->
	<!-- content start -->
	<div class="clearfix wrapper">
		<!--{include file='left.html'}-->
		<div class="con-right">
			<h1 class="right-tit">修改专家组</h1>
			<form name="myform" id="myform" enctype="multipart/form-data">
				<div class="input-box add-expert-group">
					<span class="input-top"></span>
					<input type="hidden" value="<!--{$expert_group_info.id}-->" class="eg-id">
					<p>
						<label>专家组名称:</label>
						<input type="text" name="" placeholder="请输入专家组名称" value="<!--{$expert_group_info.group_name}-->" class="eg-name" maxlength="20">
						<span class="span-error tip-egname"></span>
					</p>
					<p>
						<label>评分名称:</label>
						<select class="eg-score">
							<option value="0">请选择</option>
							<!--{foreach from=$standard_data item=item key=key}-->
							<option value="<!--{$key}-->" <!--{if $key eq $expert_group_info.score_standard_id }-->  selected='selected' <!--{else}--> ''<!--{/if}-->><!--{$item}--></option>
							<!--{/foreach}-->
						</select>
						<span class="span-error tip-egscore"></span>
					</p>					
				</div>
				<div class="score-btn">
					<p>
						<input type="button" value="保    存" name="" class="btn-save eg-save">
						<input type="button" value="取    消" name="" class="btn-cancel">
					</p>
				</div>
			</form>
		</div>
	</div>
	<!-- content end -->
	<script type="text/javascript">	
		var flag1=false;
		function resEgname(){
			var eg_name=$(".eg-name").val();
			var validate=window.validateSetting.regExportGroupName(eg_name);
			if(validate.errorNo>0){
				$(".tip-egname").text(validate.message);					
			}else{
				$(".tip-egname").text('');
				flag1=true;
			}
		}	

		$(function(){			
			$(".eg-name").on("blur",function(){
				resEgname();
			});

			$(".eg-save").on("click",function(){
				resEgname();
				if(flag1){
					var eg_id= $(".eg-id").val();
					var eg_name= $.trim($(".eg-name").val());
					var eg_score=$(".eg-score").val();
					resEgname();
					if(flag1){
						var url='/expertGroup/editExpertGroup';
						$.post(url,{'id':eg_id,'group_name':eg_name,'score_standard_id':eg_score},function(data){
							if(data.code == 0){
								alert('保存成功');
								window.location.href="/expertGroup/getList"
							}else{
								alert(data.msg + ",错误码:" + data.code);
							}
						})
					}
				}
			});
			$(".btn-cancel").on("click",function(){
				window.location.href="/expertGroup/getList"
			})

		})
	</script>
</body>
</html>