<!DOCTYPE html>
<html class="add-bg">
<head>
	<meta charset="utf-8">
	<title>专家库</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
	<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<!-- header start -->
	<!--{include file='header.html'}-->
	<!-- header end -->
	<!-- content start -->
	<div class="clearfix wrapper">
		<!--{include file='left.html'}-->
		<div class="con-right">
			<h1 class="right-tit">专家库列表页</h1>
			<div class="table-bigbtn clearfix">
				<div class="search fl">
					<span>专家姓名 :</span>
					<div class="search-box">
						<input type="text" placeholder="请输入要查找的专家姓名" value="<!--{$name}-->" class="search-input expert_name"/>
						<i class="search-icon"></i>
					</div>
					<a class="table-search" href="javascript:void(0)" onclick="search_expert()" >搜&nbsp;&nbsp;&nbsp;&nbsp;索</a>
				</div>
				<a class="table-add fr" href="/expert/add">新&nbsp;&nbsp;&nbsp;&nbsp;增</a>
			</div>
			<div class="table-box">
				<div class="table-con">
					<table cellpadding="0" cellspacing="0" border="0" class="ex-table">
						<tr>
							<th width="10%">序号</th>
							<th width="20%">姓名</th>
							<th width="30%">账号</th>
							<th width="20%">专家组</th>
							<th>操作</th>
						</tr>
						<!--{foreach from=$data item=item key=key}-->
						<tr>
							<td><!--{math equation="x + y + 1" x=$key y=$offset}--></td>
							<td><!--{$item.name}--></td>
							<td><!--{$item.account}--></td>
							<td><!--{$item.expert_group_name}--></td>
							<td class="table-btn">
								<a href="/expert/edit?id=<!--{$item.id}-->" class="table-modify">修改名称</a>
							</td>
						</tr>
						<!--{/foreach}-->
					</table>
				</div>
				<!--{$pages_list}-->
			</div>

		</div>
	</div>
	<!-- content end -->
	<script>
		function search_expert(){
			var name = $('.expert_name').val()
			window.location.href="/expert/getList?name="+name
		}
	</script>
</body>
</html>