<!DOCTYPE html>
<html class="add-bg">
<head>
	<meta charset="utf-8">
	<title>专家首页</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
	<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<!-- header start -->
	<!--{include file='header.html'}-->
	<!-- header end -->
	<!-- content start -->
	<div class="clearfix wrapper">
		<!--{include file='left.html'}-->
		<div class="con-right">
			<div class="exper-name">
				<strong><!--{$expert_info.name}--></strong>您好
			</div>
			<h1 class="right-tit">管理员首页</h1>
			<div class="table-bigbtn clearfix">
				<div class="search-select fl">
					<span>评审状态 :</span>
					<select class="search-list review_status">
						<option value="0">请选择</option>
						<option value="1" <!--{if $review_status == 1}-->selected='selected'<!--{/if}-->>待评审</option>
						<option value="2" <!--{if $review_status == 2}-->selected='selected'<!--{/if}-->>已评审</option>
						<option value="3" <!--{if $review_status == 3}-->selected='selected'<!--{/if}-->>已提交</option>
					</select>
				</div>
				<div class="search btn-right fr">
					<div class="search-box">
						<input type="text" placeholder="请输入要查找的项目名称" class="search-input project_name"/>
						<i class="search-icon"></i>
					</div>
					<a class="table-search" href="javascript:void(0)" onclick="search_crop()">搜&nbsp;&nbsp;&nbsp;&nbsp;索</a>
					<a class="table-export" href="#">审核结果页</a>
					<a class="table-sub" href="javascript:void(0)" onclick="submit_declare()">一键提交<br>所有评分</a>
				</div>
			</div>
			<div class="table-box">
				<div class="table-con">
					<table cellpadding="0" cellspacing="0" border="0" class="ex-table">
						<tr>
							<th>序号</th>
							<th>项目名称</th>
							<th>姓名</th>
							<th>参赛身份</th>
							<th>企业名称</th>
							<th>产品类型</th>
							<th>产品形态</th>
							<th>手机号</th>
							<th>评审状态</th>
							<!--{if $settings}--><th>评审情况</th><!--{/if}-->
							<th>操作</th>
						</tr>
						<!--{foreach from=$data item=item key=key}-->
						<tr>
							<td><!--{math equation="x + y + 1" x=$key y=$offset}--></td>
							<td><!--{$item.project_name}--></td>
							<td><!--{$item.name}--></td>
							<td><!--{$item.contestant_identity}--></td>
							<td><!--{$item.company_name}--></td>
							<td><!--{$item.product_type}--></td>
							<td><!--{$item.product_form_val}--></td>
							<td><!--{$item.mobile}--></td>
							<td><!--{$item.status}--></td>
							<!--{if $settings}--><td><!--{$item.result}--></td><!--{/if}-->
							<td class="table-btn">
								<a href="/declareinfo/getinfo?user_id=<!--{$item.user_id}-->" class="table-modify">评审详情</a>
							</td>
						</tr>
						<!--{/foreach}-->
					</table>
				</div>
				<!--{$pages_list}-->
			</div>

		</div>
	</div>
	<!-- content end -->
	<script>
		function search_crop(){
			var project_name = $('.project_name').val()
			var review_status = $('.review_status').val()
			window.location.href="/index/getlist?project_name="+project_name+"&review_status="+review_status
		}
		function submit_declare(){
			$.post('/declareinfo/submitdeclare',{},function(data){
				if(data.code == 0){
					alert('提交成功');
					window.location.reload();
				}else{
					alert('提交失败');
				}
			})
		}
	</script>
</body>
</html>